<!DOCTYPE html>
<html>

     <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Selection page for physiotherapy exercises">
        <title>Selection Page</title>
        {% load static %}
        <link rel="stylesheet" href="{% static './css/selection.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
     </head>

    <main>
       <header>
              
          <div class="navbar">
               <a class="active" href="#Physiopedia">PHYSIOPEDIA</a> 
               <a href="#" target="_blank">Current Milestone</a> 
               <a href="#" target="_blank">My Journey</a> 
               <a href="#" target="_blank">Store</a> 
               <a href="#" target="_blank">Profile</a>
             
            </div>

       </header>

         <main>
             <video src="" controls width="100%" height="400"></video>
             <textarea name="textarea" rows="50" cols="50">this is the area for inputing text and descriptions</textarea>


        </main>
       
       <footer>
        <div class="footer">

          <p><small>&copy; Copyright {2022}, PHYSIOPEDIA</small> </p>
          
          

      </div>
       </footer>
      
     </body>
</html>