<br><br>
    <div id="footer">
    <div id="footerspace">
        <p><a style="text-decoration: none; color: black;" href="../legal">LEGAL:</a></p>
        <p><a style="text-decoration: none; color: black;" href="../legal">ABOUT US</a></p>
        <p></p><a style="text-decoration: none; color: black;" href="../legal">PRIVACY</a></p>
        <p><a style="text-decoration: none; color: black;" href="../legal">TERMS OF USE</a></p>
        <p style="color: black;">&copy;2022PhysiopediaCo</p>
    </div>
    </div>
</body>
</html>