<br><br>
    <div id="globalpgfooter" style="background-color: #cbc9c9;padding-left: 2%;padding-right: 2%;padding-top: 1%;padding-bottom: 1%;width: 96%;float: left;">
    <div style="display: flex;flex-direction: row;justify-content: space-between;">
        <p style="margin: 0%;"><a style="text-decoration: none; color: black;" href="../legal">LEGAL:</a></p>
        <p style="margin: 0%;"><a style="text-decoration: none; color: black;" href="../legal">ABOUT US</a></p>
        <p style="margin: 0%;"><a style="text-decoration: none; color: black;" href="../legal">PRIVACY</a></p>
        <p style="margin: 0%;"><a style="text-decoration: none; color: black;" href="../legal">TERMS OF USE</a></p>
        <p style="margin: 0%;color: black;">&copy;2022PhysiopediaCo</p>
    </div>
    </div>
</body>
</html>