{% include "./loginHeader.html" %}
{% block content %}
<form style="max-width:50%;margin-left:23%;padding-left:5%;" action="../selections/" class="forms" method="post">
    {% csrf_token %}
    <label for="email">EMAIL</label><br>
    <input type="email" id="email" name="email"><br><br>
    <label for="password">PASSWORD</label><br>
    <input type="password" id="password" name="password"><br>
    <input class="checkbox" type="checkbox"><label for="checkbox"> REMEMBER ME</label><br><br>
    <input type="submit" class="btn" value="SUBMIT"></input>
</form>
<br>
<div>
    <div class="container">
        <a href="../signUp">CREATE ACCOUNT</a>
        <a class="link" href="">FORGOT PASSWORD</a>
    </div>
</div>

{% endblock %}

</body>
{% include "./footer.html" %}