
    <!DOCTYPE html>
    <html>
    
         <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="Selection page for physiotherapy exercises">
            <title>Selection Page</title>
            {% load static %}
            <link rel="stylesheet" href="{% static './css/selection.css' %}">
            <link rel="stylesheet" href="{% static './css/bodyparts.css' %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            
          
         </head>
    
        <main>
           <header>
                  
            <div class="navbar">
                <a class="active" href="#Physiopedia">PHYSIOPEDIA</a> 
                <a href="../currentMilestone/" >Current Milestone</a> 
                <a href="#" >My Journey</a> 
                <a href="../store/" >Store</a> 
                <a href="../profile-settings/" >Profile</a>
              
             </div>
 
           </header>
    
           <br>
           <hr class="style15">
           <br>
             
                <h1><b><i>Arms and hands conditions</i></b><h1>

            <div class="selectbutton">
                <P>Click One To Continue</P>
            </div>

            <div>
                <p style="padding: 10px; border: 5px solid red;"><u><a href="../currentMilestone/">Name of condition:Dupuytren's contracture </a></u>
                <br><small>Finger will start to bend towards the palm and cannot be fully straightened,the most common factor contributing to this injury is due to genetics and 70% of the patients have past family history of the condition.  </small></p>
                
            </div>
          

            <div>
                <p style="padding: 10px; border: 5px solid red;"><u><a href="../currentMilestone/">Name of condition:Broken finger</a></u>
                <br><small>Fingers are easily broken or injured when engaging in daily activities.It occurs when the finger is bent forcefully in the wrong direction(such as sideways force) or collision with another person.  </small></p>
                
            </div>

            <div>
                <p style="padding: 10px; border: 5px solid red;"><u><a href="../currentMilestone/">Name of condition:Trigger finger </a></u>
                <br><small>Trigger finger occurs when the tendon in the finger or thumb thickens and gets caught when the finger is bent towards the palm, resulting in a painful clicking or locking.There is often no apparent cause of trigger finger,however is more common for women who have injured their finger before. </small></p>
                
            </div>


           </main>
           
           <footer>
            <div class="footer">
    
              <p><small>&copy; Copyright {2022}, PHYSIOPEDIA</small> </p>
              
          </div>
           </footer>
          
         
    </html>

