
    <!DOCTYPE html>
    <html>
    
         <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="Selection page for physiotherapy exercises">
            <title>Selection Page</title>
            {% load static %}
            <link rel="stylesheet" href="{% static './css/selection.css' %}">
            <link rel="stylesheet" href="{% static './css/leg.css' %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            
          
         </head>
    
        <main>
           <header>
                  
              <div class="navbar">
                   <a class="active" href="#Physiopedia">PHYSIOPEDIA</a> 
                   <a href="#" target="_blank">Current Milestone</a> 
                   <a href="#" target="_blank">My Journey</a> 
                   <a href="#" target="_blank">Store</a> 
                   <a href="#" target="_blank">Profile</a>
                 
                </div>
    
           </header>
    
           <br>
           <hr class="style15">
           <br>
             
                <h1><b><i>Leg Conditions</i></b><h1>

            <div class="selectbutton">
                <P>Click One To Continue</P>
            </div>

            <div>
                <p style="padding: 10px; border: 5px solid red;"><u><a href="../currentMilestone/">Name of condtion: Shin Splints</a></u>
                <br><small> Normally occured in runners who run over a long distance on hard surfaces,other factors such as wrong posture and body alightment can contribute to the injury as well.</small></p>
                
            </div>
          

            <div>
                <p style="padding: 10px; border: 5px solid red;"><u><a href="../currentMilestone/">Name of condtion: Calf Strain</a></u>
                <br><small>A calf strain may also be caused by gradual wear and tear associated with repetitive jumping and distance running or walking. For example: a sudden increase in speed from a fixed position or when lunging forward when playing tennis or squash can cause calf strain. </small></p>
                
            </div>

            <div>
                <p style="padding: 10px; border: 5px solid red;"><u><a href="../currentMilestone/">Name of condtion: Quad Pain</a></u>
                <br><small>Quad pain is often caused by a direct blow to the muscle during sporting activities.If the quad muscles have torn (muscle strain) the site of pain is usually well localised in the front of the thigh.  </small></p>
                
            </div>




    
           </main>
           
           <footer>
            <div class="footer">
    
              <p><small>&copy; Copyright {2022}, PHYSIOPEDIA</small> </p>
              
          </div>
           </footer>
          
         
    </html>

