
    <!DOCTYPE html>
    <html>
    
         <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="Selection page for physiotherapy exercises">
            <title>Selection Page</title>
            {% load static %}
            <link rel="stylesheet" href="{% static './css/selection.css' %}">
            <link rel="stylesheet" href="{% static './css/bodyparts.css' %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            
          
         </head>
    
        <main>
           <header>
                  
            <div class="navbar">
                <a class="active" href="#Physiopedia">PHYSIOPEDIA</a> 
                <a href="../currentMilestone/" >Current Milestone</a> 
                <a href="#" >My Journey</a> 
                <a href="../store/" >Store</a> 
                <a href="../profile-settings/" >Profile</a>
              
             </div>
 
           </header>
    
           <br>
           <hr class="style15">
           <br>
             
                <h1><b><i>Chest, Back and Waist conditions</i></b><h1>

            <div class="selectbutton">
                <P>Click One To Continue</P>
            </div>

            <div>
                <p style="padding: 10px; border: 5px solid red;"><u><a href="../currentMilestone/">Name of condition:Back strain </a></u>
                <br><small>Back strain is often characterised by stretching of tearing of a muscle.It is caused by lifting heaving objects in an incorrect manner by bending the back.When a back strain or sprain occurs, there is inflammation of the soft tissue that causes pain and possibly back spasms. </small></p>
                
            </div>
          

            <div>
                <p style="padding: 10px; border: 5px solid red;"><u><a href="../currentMilestone/">Name of condition:Coccydynia</a></u>
                <br><small>Coccydynia is pain in the area of the coccyx or tailbone and can be anything from discomfort to acute pain, which is aggravated by sitting down.It can be due to childbirth causing the muscles and ligaments to overstretch around your coccyx compromising the stability of the coccyx bone. </small></p>
                
            </div>

            <div>
                <p style="padding: 10px; border: 5px solid red;"><u><a href="../currentMilestone/">Name of condition:Sacroiliac Joint Pain </a></u>
                <br><small>The sacroiliac joints sit between the sacrum and the ilia, at the back of the pelvis, and there are several dysfunctions that can exist in this area causing pain.There are many different possible causes of the dysfunction due to the many different twisting forces applied to that area when moving the legs. </small></p>
                
            </div>


    
           </main>
           
           <footer>
            <div class="footer">
    
              <p><small>&copy; Copyright {2022}, PHYSIOPEDIA</small> </p>
              
          </div>
           </footer>
          
         
    </html>

