
    <!DOCTYPE html>
    <html>
    
         <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="Selection page for physiotherapy exercises">
            <title>Selection Page</title>
            {% load static %}
            <link rel="stylesheet" href="{% static './css/selection.css' %}">
            <link rel="stylesheet" href="{% static './css/bodyparts.css' %}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            
          
         </head>
    
        <main>
           <header>
                  
            <div class="navbar">
                <a class="active" href="#Physiopedia">PHYSIOPEDIA</a> 
                <a href="../currentMilestone/" >Current Milestone</a> 
                <a href="#" >My Journey</a> 
                <a href="../store/" >Store</a> 
                <a href="../profile-settings/" >Profile</a>
              
             </div>
 
           </header>
    
           <br>
           <hr class="style15">
           <br>
             
                <h1><b><i>Head, Neck and Shoulder conditions</i></b><h1>

            <div class="selectbutton">
                <P>Click One To Continue</P>
            </div>

            <div>
                <p style="padding: 10px; border: 5px solid red;"><u><a href="../currentMilestone/">Name of condition:Stiff Neck </a></u>
                <br><small>It causes stiffness and pain to the neck.Neck pain can also come from regions around the neck,like the shoulder, jaw, head and upper arms.Activites such as long hours facing the computer, having wrong posture while reading or watching TV or even sleeping in an uncomfortable position. </small></p>
                
            </div>
          

            <div>
                <p style="padding: 10px; border: 5px solid red;"><u><a href="../currentMilestone/">Name of condition:Shoulder dislocation</a></u>
                <br><small>A shoulder dislocation is when the ball of the shoulder joint pops out of the shoulder socket.The dislocation can either be an anterior or posterior dislocation where the arm appears out of position either pointing forwards or backwards. </small></p>
                
            </div>

            <div>
                <p style="padding: 10px; border: 5px solid red;"><u><a href="../currentMilestone/">Name of condition:Cervical postural syndrome </a></u>
                <br><small>This condition is often characterised by rounded shoulders which causes burning or aching across neck and shoulders.Cervical postural syndrome is caused by adopting poor posture over a prolonged period of time.Activites such as daily driving, cooking or sitting at desk with poor posture over a prolonged period of time are likely to cause such injury.  </small></p>
                
            </div>


    
           </main>
           
           <footer>
            <div class="footer">
    
              <p><small>&copy; Copyright {2022}, PHYSIOPEDIA</small> </p>
              
          </div>
           </footer>
          
         
    </html>

