<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static './css/signup_login_forms.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    </head>

    <img id="logo" src="{% static '/images/logo.png' %}"><br>
    <div class="textContainer">
        <img id="leftPulse" src="{% static '/images/leftPulse.png' %}">
        <img id="text" src="{% static '/images/signUp.png' %}">
        <img id="rightPulse" src="{% static '/images/rightPulse.png' %}">
    </div>
    <body>