<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static './css/signup_login_forms.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>

{% block content %}
<center>
<form style="max-width:550px;margin:auto" action="../login/" class="forms" method="post">
    {% csrf_token %}
    <br>
    <label for="fname">FIRST NAME*</label> <label for="lname">LAST NAME*</label><br><br>
    <div class="info">
        <div class="info-item">
          <label class="icon" for="fname"><i class="fas fa-user"></i></label>
          <input type="text" name="fname" id="name" required/>
        </div>
        <div class="info-item">
            <label class="icon" for="lname"><i class="fas fa-user"></i></label>
            <input type="text" name="name" id="name" required/>
          </div>
    </div>
    <label for="email">EMAIL*</label><br>
      <div class="info-2">
        <div  class="info-item-2">
            <label class="icon" for="email"><i class="fas fa-envelope"></i></label>
            <input type="text" name="email" id="email" required/>
        </div>
      </div>
      <label for="password">PASSWORD*</label><br>
      <div class="info-2">
        <div  class="info-item-2">
            <label class="icon" for="password"><i class="fas fa-lock"></i></label>
            <input type="password" name="password" id="password" required/>
        </div>
    </div>
    <label for="password">CONFIRM PASSWORD*</label><br>
    <div class="info-2">
        <div  class="info-item-2">
            <label class="icon" for="cpassword"><i class="fas fa-lock"></i></label>
            <input type="password" name="password" id="password" required/>
        </div>
    </div>
    <label for="birthday">BIRTHDAY*</label> <label for="gender">GENDER*</label><br>
        <div class="info">
            <div  class="info-item">
              <label class="icon" for="birthday"><i class="fas fa-calendar"></i></i></label>
              <input type="date" name="birthday" id="birthday" required/>
            </div>
            <div  class="info-item">
                <select id="gender" name="gender">
                    <option value="null">-</option>
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                    <option value="notdefined">Prefer not to say</option>
                </select>
            </div>
        </div>
        <label for="phone">MOBILE NO.</label> <label for="phone">FOR ALERTS AND REMINDERS</label> <label for="healthcare">HEALTHCARE INSTITUTE*</label><br>
        <div class="info">
            <div  class="info-item">
              <label class="icon" for="phone"><i class="fas fa-phone"></i></label>
              <input type="tel" id="phone" name="phone" pattern="[0-9]{8}" required/>
        </div>
        <div  class="info-item">
            <label class="icon" for="healthcare"><i class="fas fa-plus"></i></label>
            <input type="text" name="healthcare" id="healthcare" required/>
      </div>
    </div>
    <input type="submit" class="btn" value="SUBMIT"></input>
</form>
<br>
<div>
    <a href="../login">HAVE AN ACCOUNT? SIGN IN</a> <a class="container" href="">LEARN MORE ABOUT WHY WE COLLECT INFORMATION</a>
</div>
</center>
{% endblock %}

</body>
</html>