<!DOCTYPE html>
{% load static %}
<html>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
<body>
    <div>
        <form style="width: 100%;overflow: auto;" method="GET" action="store">
            <div style="float: left;padding-left: 40%;padding-top:1%;color: black;text-decoration: none;font-size: 17px;;width: 18%;text-align: center;">
                <button style="padding:5%; background-color: #696969;border-radius: 12px; box-shadow: none;" type="submit">SHOP EQUIPMENT/BOOKS/VIDEO</button>
            </div>
        </form>
    </div>
    <div style="width: 100%;overflow: auto;justify-content: center;">
        <div style="width: 70%;margin-left:15%;">
            <img style="width: 50%;height:auto;margin-left:26%;margin-top: 13%;" src="{% static '/images/logo.png' %}">
            <p style="font-size: 25px; margin-left: 30%;margin-bottom: 0%;margin-top: 0%;">Collection of Physiotherapeautic Exercises</p>
            <p style="font-size: 25px; margin-left: 31%;margin-top: 0%;margin-bottom: 1%;">Convenient & Versatile Because We Care</p>
            <form style="margin-bottom: 21%;" method="GET" action="login">
                <div style="float: left;padding-left: 40%;padding-top:1%;margin-top:0%;width: 18%;text-align: center;">
                    <button style="padding:5%; background-color: #696969;border-radius: 12px; box-shadow: none;" type="submit">START HERE</button>
                </div>
            </form>
        </div>
    </div>

</body>
{% include "./footer.html" %}