{ %load static% }
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{% static 'store.css' %}">
<body>
        <!-- the merch category selection goes to the left top for desktop resolutions, top for mobile -->
        <aside id="merchcatsel">
            <h2>Product Categories</h2>
            <div class="merchcatselector">	<!-- first button has an id to simulate a click on it when loading page -->
                <button class="merchcategory" id="initialmerchcat" onclick="openMerchCat(event, 'clothing')">Clothing</button>
                <button class="merchcategory" onclick="openMerchCat(event, 'mugs')">Mugs</button>
                <button class="merchcategory" onclick="openMerchCat(event, 'headphones')">Headphones</button>
                <button class="merchcategory" onclick="openMerchCat(event, 'pillows')">Pillows</button>
            </div>
        </aside>
    
        <!-- the actual products selection is the main element of this page, qualifying it as an article -->
        <article id="merchproducts">
            <!-- only one of the .merchcontent containers will be visible at a time -->
    
            <!-- +++++++++++++ Books/DVDs category +++++++++++++++ -->
            <div id="Books/DVDs" class="merchcontent">
                <h3>Books/DVDs</h3>
                <div class="merchitems">	<!-- elements within this wrapper are aligned in a row with wrapping -->
                    <div class="merchitem">	<!-- items have a fixed with, the number of items per line is dynamic -->
                        <div class="merchimage">
                            <img src="img/shop_c1.jpg" alt="Pull Over Hoodie">
                        </div>
                        <div class="merchfacts">	<!-- wrapper to switch to horizontal layout name + price -->
                            <div class="merchname">
                                Pull Over Hoodie
                            </div>
                            <div class="merchprice">
                                $30 SGD
                            </div>
                        </div>
                        <div class="merchdesc">
                            Comfy and warm pull over, like a warm hug to fall asleep in
                        </div>
                        <div class="merchsize">
                            <b>Sizes: </b>One fits all, Unisex
                        </div>
                        <div class="merchbuy">	<!-- employ Javascript to simulate adding the item to the shopping cart -->
                            <button class="merchaddcart" onclick="addItemToCart('Pull Over Hoodie', 30)">Add to cart</button>
                        </div>
                    </div>	<!-- end of clothing item #1 -->
    
                    <div class="merchitem"> 
                        <div class="merchimage">
                            <img src="img/shop_c2.jpg" alt="Tank Top">
                        </div>
                        <div class="merchfacts">
                            <div class="merchname">
                                Tank Top
                            </div>
                            <div class="merchprice">
                                $17 SGD
                            </div>
                        </div>
                        <div class="merchdesc">
                            Cooling and un-restricting, a perfect fit to chill in<br>
                            &nbsp;
                        </div>
                        <div class="merchsize">
                            <b>Sizes: </b>One fits all, Unisex
                        </div>
                        <div class="merchbuy">
                            <button class="merchaddcart" onclick="addItemToCart('Tank Top', 17)">Add to cart</button>
                        </div>
                    </div>	<!-- end of clothing item #2 -->
    
                    <div class="merchitem"> 
                        <div class="merchimage">
                            <img src="img/shop_c3.jpg" alt="T-shirt">
                        </div>
                        <div class="merchfacts">
                            <div class="merchname">
                                T-shirt
                            </div>
                            <div class="merchprice">
                                $20 SGD
                            </div>
                        </div>
                        <div class="merchdesc">
                            Classic and verstile to vibe in any occasion<br>
                            &nbsp;
                        </div>
                        <div class="merchsize">
                            <b>Sizes: </b>One fits all, Unisex
                        </div>
                        <div class="merchbuy">
                            <button class="merchaddcart" onclick="addItemToCart('T-shirt', 20)">Add to cart</button>
                        </div>
                    </div>	<!-- end of clothing item #3 -->
    
                    <div class="merchitem"> 
                        <div class="merchimage">
                            <img src="img/shop_c4.jpg" alt="Mask-Up">
                        </div>
                        <div class="merchfacts">
                            <div class="merchname">
                                Mask-Up
                            </div>
                            <div class="merchprice">
                                $10 SGD
                            </div>
                        </div>
                        <div class="merchdesc">
                            Hygienic and a perfect excuse out of an uncomfortable interaction
                        </div>
                        <div class="merchsize">
                            <b>Sizes: </b>One fits all
                        </div>
                        <div class="merchbuy">
                            <button class="merchaddcart" onclick="addItemToCart('Mask-Up', 10)">Add to cart</button>
                        </div>
                    </div>	<!-- end of clothing item #4 -->
                </div>	<!-- end of clothing items wrapper -->
                <div class="merchpagenav">
                    <span class="merchnavldisa">&#10094;</span>
                    <span class="merchcurrpagenum">1</span>
                    <span class="merchnavrdisa">&#10095;</span>
                </div>
            </div>	<!-- end of Books/DVDs category -->
    
            <!-- +++++++++++++ Support Equipment category +++++++++++++++ -->
            <div id="Support Equipment" class="merchcontent">
                <h3>Support Equipment</h3>
                <div class="merchitems">
                    <div class="merchitem"> 
                        <div class="merchimage">
                            <img src="img/shop_m1.jpg" alt="Cafe Au Lait Ceramic Mug">
                        </div>
                        <div class="merchfacts">
                            <div class="merchname">
                                Cafe Au Lait Ceramic Mug
                            </div>
                            <div class="merchprice">
                                $13 SGD
                            </div>
                        </div>
                        <div class="merchdesc">
                            Classy and antisocial &quot;shhhh it's asmr time&quot;<br>
                            &nbsp;
                        </div>
                        <div class="merchsize">
                            <b>Sizes: </b>12 oz.
                        </div>
                        <div class="merchbuy">
                            <button class="merchaddcart" onclick="addItemToCart('Cafe Au Lait Ceramic Mug', 13)">Add to cart</button>
                        </div>
                    </div>	<!-- end of mug item #1 -->
                    
                    <div class="merchitem"> 
                        <div class="merchimage">
                            <img src="img/shop_m2.jpg" alt="Iridescent Ceramic Mug">
                        </div>
                        <div class="merchfacts">
                            <div class="merchname">
                                Iridescent Ceramic Mug
                            </div>
                            <div class="merchprice">
                                $14 SGD
                            </div>
                        </div>
                        <div class="merchdesc">
                            Pamper yourself, treat yourself. Look it's so shiny and pretty! Mermaid vibes.
                        </div>
                        <div class="merchsize">
                            <b>Sizes: </b>15 oz.
                        </div>
                        <div class="merchbuy">
                            <button class="merchaddcart" onclick="addItemToCart('Iridescent Ceramic Mug', 14)">Add to cart</button>
                        </div>
                    </div>	<!-- end of mug item #2 -->
                    
                    <div class="merchitem"> 
                        <div class="merchimage">
                            <img src="img/shop_m3.jpg" alt="Metallic Mug">
                        </div>
                        <div class="merchfacts">
                            <div class="merchname">
                                Metallic Mug
                            </div>
                            <div class="merchprice">
                                $12 SGD
                            </div>
                        </div>
                        <div class="merchdesc">
                            Hip and cool, like the ace student you're going to be while studying with this mug.
                        </div>
                        <div class="merchsize">
                            <b>Sizes: </b>11 oz.
                        </div>
                        <div class="merchbuy">
                            <button class="merchaddcart" onclick="addItemToCart('Metallic Mug', 12)">Add to cart</button>
                        </div>
                    </div>	<!-- end of mug item #3 -->
                </div>	<!-- end of mug items wrapper -->
                <div class="merchpagenav">
                    <span class="merchnavldisa">&#10094;</span>
                    <span class="merchcurrpagenum">1</span>
                    <span class="merchnavrdisa">&#10095;</span>
                </div>
            </div>	<!-- end of Support Equipment category -->
    
            <!-- +++++++++++++ Headphones category +++++++++++++++ -->
            <div id="headphones" class="merchcontent">
                <h3>Headphones</h3>
                <div class="merchitems">
                    <div class="merchitem"> 
                        <div class="merchimage">
                            <img src="img/shop_h1.jpg" alt="Wireless Bluetooth Earbuds">
                        </div>
                        <div class="merchfacts">
                            <div class="merchname">
                                Wireless Bluetooth Earbuds
                            </div>
                            <div class="merchprice">
                                $270 SGD
                            </div>
                        </div>
                        <div class="merchdesc">
                            Our opus magnum. Extreme sensitivity in guarantee of extreme tingles while wireless and with noise cancellation for a perfect tangle-less peaceful sleep<br>
                            specs: 10 hour playtime, noise-isolation, sensitivity 103.5 +-1.5dB at 1KHz, Impedance: 23 Ohm +-15% at 1KHz, 16-bit Stereo
                        </div>
                        <div class="merchsize">
                            <b>Size: </b>0.85" H X 2" W X 3" D
                        </div>
                        <div class="merchbuy">
                            <button class="merchaddcart" onclick="addItemToCart('Wireless Bluetooth Earbuds', 270)">Add to cart</button>
                        </div>
                    </div>	<!-- end of headphones item #1 -->
                    
                    <div class="merchitem"> 
                        <div class="merchimage">
                            <img src="img/shop_h2.jpg" alt="In ear earphones">
                        </div>
                        <div class="merchfacts">
                            <div class="merchname">
                                In ear earphones
                            </div>
                            <div class="merchprice">
                                $117 SGD
                            </div>
                        </div>
                        <div class="merchdesc">
                            Just like your normal earphones but better, clearer, sensitive and provide a secure fit for all-day asmr comfort<br>&nbsp;<br>
                            specs: S.P.L - 112dB , Impedance: 16 ohm<br>&nbsp;<br>&nbsp;
                        </div>
                        <div class="merchsize">
                            <b>Size: </b>One fits all, 48&quot; L
                        </div>
                        <div class="merchbuy">
                            <button class="merchaddcart" onclick="addItemToCart('In ear earphones', 117)">Add to cart</button>
                        </div>
                    </div>	<!-- end of headphones item #2 -->
                    
                    <div class="merchitem"> 
                        <div class="merchimage">
                            <img src="img/shop_h3.jpg" alt="Monitor headphones">
                        </div>
                        <div class="merchfacts">
                            <div class="merchname">
                                Monitor headphones
                            </div>
                            <div class="merchprice">
                                $200 SGD
                            </div>
                        </div>
                        <div class="merchdesc">
                            Pst.. Asmrtists..over here!!,  give a good gauge and perfect for that editing and sound mixing. Also makes the whole process less painful.<br>&nbsp;<br>
                            specs: S.P.L - 98 dB , Impedance: 1600 mW<br>&nbsp;<br>&nbsp;
                        </div>
                        <div class="merchsize">
                            <b>Size: </b>7.25&quot; x 6.25&quot; x 3&quot;
                        </div>
                        <div class="merchbuy">
                            <button class="merchaddcart" onclick="addItemToCart('Monitor headphones', 200)">Add to cart</button>
                        </div>
                    </div>	<!-- end of headphones item #3 -->
                </div>	<!-- end of headphones items wrapper -->
                <div class="merchpagenav">
                    <span class="merchnavldisa">&#10094;</span>
                    <span class="merchcurrpagenum">1</span>
                    <span class="merchnavrdisa">&#10095;</span>
                </div>
            </div>	<!-- end of headphones category -->
    
            <!-- +++++++++++++ Physiopedia Merch category +++++++++++++++ -->
            <div id="Physiopedia Merch " class="merchcontent">
                <h3>Physiopedia Merch </h3>
                <div class="merchitems">
                    <div class="merchitem"> 
                        <div class="merchimage">
                            <img src="img/shop_p1.jpg" alt="Memories of a star">
                        </div>
                        <div class="merchfacts">
                            <div class="merchname">
                                Memories of a star
                            </div>
                            <div class="merchprice">
                                $40 SGD
                            </div>
                        </div>
                        <div class="merchdesc">
                            Memory foam. Super cute super comfy. Has that dreamer aesthetic.
                        </div>
                        <div class="merchsize">
                            <b>Sizes: </b>One size
                        </div>
                        <div class="merchbuy">
                            <button class="merchaddcart" onclick="addItemToCart('Memories of a star', 40)">Add to cart</button>
                        </div>
                    </div>	<!-- end of pillows item #1 -->
                    
                    <div class="merchitem"> 
                        <div class="merchimage">
                            <img src="img/shop_p2.jpg" alt="Fluffy Kisses">
                        </div>
                        <div class="merchfacts">
                            <div class="merchname">
                                Fluffy Kisses
                            </div>
                            <div class="merchprice">
                                $40 SGD
                            </div>
                        </div>
                        <div class="merchdesc">
                            It's so fluffy!!! Feel like a cotton candy prince or princess~
                        </div>
                        <div class="merchsize">
                            <b>Sizes: </b>One size
                        </div>
                        <div class="merchbuy">
                            <button class="merchaddcart" onclick="addItemToCart('Fluffy Kisses', 40)">Add to cart</button>
                        </div>
                    </div>	<!-- end of pillows item #2 -->
                    
                    <div class="merchitem"> 
                        <div class="merchimage">
                            <img src="img/shop_p3.jpg" alt="Sleeping Beauty">
                        </div>
                        <div class="merchfacts">
                            <div class="merchname">
                                Sleeping Beauty
                            </div>
                            <div class="merchprice">
                                $40 SGD
                            </div>
                        </div>
                        <div class="merchdesc">
                            Organic silk for all the luxurious kings and queens
                        </div>
                        <div class="merchsize">
                            <b>Sizes: </b>One size
                        </div>
                        <div class="merchbuy">
                            <button class="merchaddcart" onclick="addItemToCart('Sleeping Beauty', 40)">Add to cart</button>
                        </div>
                    </div>	<!-- end of pillows item #1 -->
                </div>	<!-- end of pillows items wrapper -->
                <div class="merchpagenav">
                    <span class="merchnavldisa">&#10094;</span>
                    <span class="merchcurrpagenum">1</span>
                    <span class="merchnavrdisa">&#10095;</span>
                </div>
            </div>	<!-- end of Physiopedia Merch category -->
        </article>
        
        <!-- the cart is responsively placed underneath the products or on the left, below the category selection -->
        <aside id="merchcart">
            <h2>Shopping Cart Summary</h2>
            <!-- for simulating a shopping cart without a backend, divs are filled with content in Javascript;
            class .cartslot is made invisible by the CSS; as the user puts items into the cart,
            a Javascript will search for the first instance of class cartslot, fill its child elements
            with content and then change the class to cartitem, to make it visible; 20 slots exist -->
            <div class="cartslot">	<!-- 1 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 2 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 3 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 4 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 5 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 6 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 7 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 8 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 9 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 10 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 11 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 12 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 13 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 14 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 15 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 16 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 17 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 18 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 19 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <div class="cartslot">	<!-- 20 -->
                <div class="cartitemname">
                    empty
                </div>
                <div class="cartitemprice">
                    $0.00 SGD
                </div>
            </div>
            <!-- the summation line for the shopping cart; Javascript will update the content dynamically -->
            <div class="cartsum">
                <div class="cartsumtext">
                    Total:
                </div>
                <div class="cartsumamt">
                    $0.00 SGD
                </div>
            </div>
        </aside>
        
        <!-- the checkout button goes underneath the shopping cart, full width or to the left of products -->
        <aside id="merchcheckout">
            <button class="merchcheckout" onclick="checkOutCart()")>Checkout</button>
        </aside>
</body>
</html>
